/* CSS should be written in a Additive approach. Start with mobile sizes first then progressivly enhance for each larger viewport size. */

/* Extra small devices (phones, less than 768px) *//* No media query since this is the default in Bootstrap */
#grids [class^='col-'] {
    border: 1px solid #333;
    height: 100px;
}

#site-footer {
    min-height: 200px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}